<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">   <!-- 引入thymeleaf的命名空间 -->
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<p th:text="'Hello ,' + ${name} + '!!!'"></p>

<!--<p th:text="#{home.welcome}">welcome to our grocery store!</p>-->


<!-- 对象导航图 OGNL 变量使用 -->
<ol>
<!--    <li><span th:text="${#ctx}"></span></li>-->
<!--    <li><span th:text="${#vars}"></span></li>-->
    <li><span th:text="${#locale.country}"></span></li>
<!--    <li><span th:text="${#request}"></span></li>-->
<!--    <li><span th:text="${#response}"></span></li>-->
<!--    <li><span th:text="${#session}"></span></li>-->
<!--    <li><span th:text="${#servletontext}"></span></li>-->
</ol>


<p th:text="${#calendars.format(today, 'dd MMMM yyyy')}">3 Sep 2022</p>

</body>
</html>